<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
     <title>Time Clock</title>

     <link rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.css">
     <script src="https://unpkg.com/jquery"></script>
     <script src="https://unpkg.com/popper"></script>
     <script src="https://unpkg.com/bootstrap"></script>

     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
     <link rel="stylesheet" href="/static/stylesheets/style.css">
</head>

<body>
<nav class="navbar navbar-expand">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="/" class="navbar-brand">
                <img src="/static/images/logo.jpg" alt="logo">
                <span>Lyle Young Welding</span>
            </a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            {% if not g.user %}
            <li><a href="/login">Log in</a></li>
            {% elif g.user.admin %}
            <li><a href="/employees">View Employees</a></li>
            <li><a href="/signup">Add Employee</a></li>
            <li><a href="/logout">Log out</a></li>
            {% else %}
            <li><a href="/logout">Log out</a></li>
            {% endif %}
        </ul>
    </div>
</nav>
<div class="container">
    {% for category, message in get_flashed_messages(with_categories=True) %}
    <div class="alert alert-{{ category }}">{{ message }}</div>
    {% endfor %}

    {% block content %}
    {% endblock %}

</div>
</body>

</html>