{% extends 'base.html' %}

{% block body_class %}onboarding{% endblock %}

{% block content %}

<div class="row justify-content-md-center">
    <div class="col-md-7 col-lg-5">
        <p><h2 class="join-message">Choose a pay period.</h2></p>
        <p class="pay-period"><a href="hours/1">July 7, 2020-August 13, 2020</a></p>
        <p class="pay-period"><a href="hours/1">August 14, 2020-August 20, 2020</a></p>
        <p class="pay-period"><a href="hours/1">August 21, 2020-August 27, 2020</a></p>
        <p class="pay-period"><a href="hours/1">August 28, 2020-September 3, 2020</a></p>
        <p class="pay-period"><a href="hours/1">September 11, 2020-September 17, 2020</a></p>
        <p class="pay-period"><a href="hours/1">September 18, 2020-September 24, 2020</a></p>
        <p class="pay-period"><a href="hours/1">September 25, 2020-October 1, 2020</a></p>
    </div>
</div>

{% endblock %}